


body{
    background-color: #2a0b49;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Press Start 2P", system-ui;
}

.mainCalcDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
    border:  #00f7ff  4px solid;
    border-radius: 10px;
}

.screen{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 80px;
    background-color: #0d0221;
    margin-top: 20px;
    border:  #00f7ff  4px solid;
    border-radius: 10px;
}

.subScreen{
    text-align: start;
    color: #ff5400;
    font-size: xx-small;
    margin-top: 5px;
    margin-left: 5px;

}

.mainScreen{
    color: #ff5400;
    text-align: end;
    font-size: xx-large;
    margin-top: 20px;
    margin-right: 10px;
}

.buttonDiv{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 330px;
    border:  #00f7ff  2px solid;
    margin-top: 30px;
}

.row{
    display: flex;
    flex: 1;
}

.calcButton{
    flex: 1; /* Each item takes equal width */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border:  #00f7ff  2px solid;
    color: white;
}

.calcButton:hover{
    filter: brightness(1.3);
    transform: translateY(-1px);
}

.numButton{
    background-color: #6b21f2;
}

.operator{
    background-color: #ff00c8;
}

.equalsButton{
    background-color: #ff5400;
}

.clearButton{
    background-color: #ff4444;;   
}

.clearButton:hover {
    background-color: #cc0000;
}

.clearButton:active {
    background-color: #990000;
}